.flip {
    -webkit-perspective: 800;
    perspective: 800;
}

.flipCard.flipped {
    -webkit-transform: rotatey(-180deg);
    transform: rotatey(-180deg);
    /* -webkit-backface-visibility: hidden; */
    /* backface-visibility: hidden; */
}

.flipCard {
    -webkit-perspective: 800;
    perspective: 800;
    -webkit-transform-style: preserve-3d;
    -webkit-transition: 0.5s;
    transform-style: preserve-3d;
    transition: 0.5s;
    /* background-color: #be04ab; */

    /* -webkit-backface-visibility: hidden; */
    /* backface-visibility: hidden; */

}

.flipCard .face {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 2;
}

.flipCard .front {
    /* -webkit-backface-visibility: hidden; */
    /* backface-visibility: hidden; */
    z-index: 1;
    display: block !important;
    background-color: blue;
}

.flipCard.flipped .front
{
    display: none !important;
}

.flipCard.flipped .back
{
    display: block !important;
    z-index: 1;
    background-color: aqua;

}

.flipCard .back
{
    -webkit-transform: rotatey(-180deg);
          transform: rotatey(-180deg);
          z-index: 3;
    display: none !important;
    
}

.flipBtn
{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: 2%;
    margin-right: 2%;
}

